@{
    ViewData["Title"] = "GioiThieu";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section>
    <div class="block no-padding  gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner2">
                        <div class="inner-title2">
                            <h3>Giới Thiệu</h3>
                            <span>Luôn cập nhật với những tin tức mới nhất</span>
                        </div>
                        <div class="page-breacrumbs">
                            <ul class="breadcrumbs">
                                <li><a href="#" title="">Trang Chủ</a></li>
                                <li><a href="#" title="">Trang</a></li>
                                <li><a href="#" title="">Giới Thiệu</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="about-us">
                        <div class="row">
                            <div class="col-lg-12">
                                <h3>Về Job Hunt</h3>
                            </div>
                            <div class="col-lg-7">
                                <p>Xa hơn nhiều so với một cấp bậc đã nhìn thấy chim xanh sau khi bên ngoài bị cáo buộc thấp hèn khi oh kiêu ngạo mạnh mẽ không thể cưỡng lại con chim cánh cụt côn trùng ngoài ra wow hoàn toàn rởm rít hấp tấp chó đốm một cái nhìn chằm chằm nhúng một số chim ô tác và nhiều như tốt đẹp một số đóng băng con dơi liên kết nhiều ủ rũ kỳ diệu trên tức thời lươn dũng cảm cưng chiều này dọc theo trên cao rất nhiều. </p>
                                <p>Liên tục mơ thấy tội nghiệp, nhưng đầy kịch tính mặc dù nhanh chóng rằng một cách lỏng lẻo khi đó là hoặc lươn bên dưới được giữ và ngủ gọn gàng xa kêu rừ thật chắc chắn lên trên phù hợp với tiếng xóa sạch xa ngang và ngựa pangolin phê duyệt cười khúc khích chim ô tác oh ở trên rất đối lập xa hơn thôi miên nhiều hơn do đó ong bắp cày ít hơn mà hey xa tốt như trong khi orca tuyệt vời và xa do đó một. Xa hơn nhiều so với một cấp bậc đã nhìn thấy chim xanh sau khi bên ngoài bị cáo buộc thấp hèn khi oh kiêu ngạo mạnh mẽ không thể cưỡng lại.</p>
                            </div>
                            <div class="col-lg-5">
                                <img src="../images/resource/bsd1.jpg" alt="" />
                            </div>
                            <div class="col-lg-12">
                                <p>Xa hơn nhiều so với một cấp bậc đã nhìn thấy chim xanh sau khi bên ngoài bị cáo buộc thấp hèn khi oh kiêu ngạo mạnh mẽ không thể cưỡng lại con chim cánh cụt côn trùng ngoài ra wow hoàn toàn rởm rít hấp tấp chó đốm một cái nhìn chằm chằm nhúng một số chim ô tác và nhiều như tốt đẹp một số đóng băng con dơi liên kết nhiều ủ rũ kỳ diệu trên tức thời lươn dũng cảm cưng chiều này dọc theo trên cao rất nhiều. </p>
                                <p>Liên tục mơ thấy tội nghiệp, nhưng đầy kịch tính mặc dù nhanh chóng rằng một cách lỏng lẻo khi đó là hoặc lươn bên dưới được giữ và ngủ gọn gàng xa kêu rừ thật chắc chắn lên trên phù hợp với tiếng xóa sạch xa ngang và ngựa pangolin phê duyệt cười khúc khích chim ô tác oh ở trên rất đối lập xa hơn thôi miên nhiều hơn do đó ong bắp cày ít hơn mà hey xa tốt như trong khi orca tuyệt vời và xa do đó một. Xa hơn nhiều so với một cấp bậc đã nhìn thấy chim xanh sau khi bên ngoài bị cáo buộc thấp hèn khi oh kiêu ngạo mạnh mẽ không thể cưỡng lại.</p>
                            </div>
                        </div>
                        <div class="tags-share">
                            <div class="share-bar">
                                <a href="#" title="" class="share-fb"><i class="fa fa-facebook"></i></a><a href="#" title="" class="share-twitter"><i class="fa fa-twitter"></i></a><a href="#" title="" class="share-google"><i class="la la-google"></i></a><span>Chia sẻ</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="block remove-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="our-services">
                        <div class="row">
                            <div class="col-lg-12"><h2>Dịch Vụ Của Chúng Tôi</h2></div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="service">
                                    <i class="la la-clock-o"></i><div class="service-info"><h3>Quảng Cáo Việc Làm</h3><p>Duis a tristique lacus. Donec vehicula ante id lorem venenatis posuere. Morbi in lectus.</p></div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="service">
                                    <i class="la la-search"></i><div class="service-info"><h3>Tìm Kiếm CV</h3><p>Duis a tristique lacus. Donec vehicula ante id lorem venenatis posuere. Morbi in lectus.</p></div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="service">
                                    <i class="la la-user"></i><div class="service-info"><h3>Hồ Sơ Nhà Tuyển Dụng</h3><p>Duis a tristique lacus. Donec vehicula ante id lorem venenatis posuere. Morbi in lectus.</p></div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="service">
                                    <i class="la la-codepen"></i><div class="service-info"><h3>Tìm Kiếm Nhân Sự Tạm Thời</h3><p>Duis a tristique lacus. Donec vehicula ante id lorem venenatis posuere. Morbi in lectus.</p></div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="service">
                                    <i class="la la-tv"></i><div class="service-info"><h3>Hiển Thị Việc Làm</h3><p>Duis a tristique lacus. Donec vehicula ante id lorem venenatis posuere. Morbi in lectus.</p></div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="service">
                                    <i class="la la-diamond"></i><div class="service-info"><h3>Dành Cho Đại Lý</h3><p>Duis a tristique lacus. Donec vehicula ante id lorem venenatis posuere. Morbi in lectus.</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="block">
        <div data-velocity="-.1" style="background: url(../images/resource/parallax2.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible layer color light"></div><!-- HÌNH NỀN PARALLAX -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading light">
                        <h2>Lời Nói Từ Những Ứng Viên Hài Lòng</h2>
                        <span>Những người khác nghĩ gì về dịch vụ của JobHunt</span>
                    </div><!-- Tiêu Đề -->
                    <div class="reviews-sec" id="reviews-carousel">
                        <div class="col-lg-6">
                            <div class="reviews">
                                <img src="../images/resource/r1.jpg" alt="" />
                                <h3>Augusta Silva <span>Nhà Thiết Kế Web</span></h3>
                                <p>Nếu không có JobHunt, tôi sẽ vô gia cư, họ đã tìm cho tôi một công việc và sắp xếp mọi thứ nhanh chóng! Không thể tin được dịch vụ này</p>
                            </div><!-- Đánh Giá -->
                        </div>
                        <div class="col-lg-6">
                            <div class="reviews">
                                <img src="../images/resource/r2.jpg" alt="" />
                                <h3>Ali Tufan <span>Nhà Thiết Kế Web</span></h3>
                                <p>Nếu không có JobHunt, tôi sẽ vô gia cư, họ đã tìm cho tôi một công việc và sắp xếp mọi thứ nhanh chóng! Không thể tin được dịch vụ này</p>
                            </div><!-- Đánh Giá -->
                        </div>
                        <div class="col-lg-6">
                            <div class="reviews">
                                <img src="../images/resource/r1.jpg" alt="" />
                                <h3>Augusta Silva <span>Nhà Thiết Kế Web</span></h3>
                                <p>Nếu không có JobHunt, tôi sẽ vô gia cư, họ đã tìm cho tôi một công việc và sắp xếp mọi thứ nhanh chóng! Không thể tin được dịch vụ này</p>
                            </div><!-- Đánh Giá -->
                        </div>
                        <div class="col-lg-6">
                            <div class="reviews">
                                <img src="../images/resource/r2.jpg" alt="" />
                                <h3>Ali Tufan <span>Nhà Thiết Kế Web</span></h3>
                                <p>Nếu không có JobHunt, tôi sẽ vô gia cư, họ đã tìm cho tôi một công việc và sắp xếp mọi thứ nhanh chóng! Không thể tin được dịch vụ này</p>
                            </div><!-- Đánh Giá -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="stats-sec style2">
                        <div class="row">
                            <div class="col-lg-3  col-md-3 col-sm-6 col-xs-6">
                                <div class="stats">
                                    <span>18</span>
                                    <h5>Việc Làm Đã Đăng</h5>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-3 col-sm-6 col-xs-6">
                                <div class="stats">
                                    <span>38</span>
                                    <h5>Việc Làm Đã Được Điền</h5>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-3 col-sm-6 col-xs-6">
                                <div class="stats">
                                    <span>67</span>
                                    <h5>Công Ty</h5>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-3 col-sm-6 col-xs-6">
                                <div class="stats">
                                    <span>92</span>
                                    <h5>Thành Viên</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="block">
        <div data-velocity="-.1" style="background: url(../images/resource/parallax3.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- HÌNH NỀN PARALLAX -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading">
                        <h2>Mẹo Nhanh Về Sự Nghiệp</h2>
                        <span>Được tìm thấy bởi các nhà tuyển dụng, giao tiếp trực tiếp với các nhà quản lý tuyển dụng và các nhà tuyển dụng.</span>
                    </div><!-- Tiêu Đề -->
                    <div class="blog-sec">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="my-blog">
                                    <div class="blog-thumb">
                                        <a href="#" title=""><img src="../images/resource/b1.jpg" alt="" /></a>
                                        <div class="blog-metas">
                                            <a href="#" title="">29 Tháng 3, 2017</a>
                                            <a href="#" title="">0 Bình Luận</a>
                                        </div>
                                    </div>
                                    <div class="blog-details">
                                        <h3><a href="#" title="">Thu Hút Nhiều Sự Chú Ý, Bán Hàng Và Lợi Nhuận Hơn</a></h3>
                                        <p>Một công việc là một hoạt động thường xuyên được thực hiện để trở thành nhân viên, tình nguyện, </p>
                                        <a href="#" title="">Đọc Thêm <i class="la la-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="my-blog">
                                    <div class="blog-thumb">
                                        <a href="#" title=""><img src="../images/resource/b2.jpg" alt="" /></a>
                                        <div class="blog-metas">
                                            <a href="#" title="">29 Tháng 3, 2017</a>
                                            <a href="#" title="">0 Bình Luận</a>
                                        </div>
                                    </div>
                                    <div class="blog-details">
                                        <h3><a href="#" title="">11 Mẹo Giúp Bạn Có Khách Hàng Mới</a></h3>
                                        <p>Một công việc là một hoạt động thường xuyên được thực hiện để trở thành nhân viên, tình nguyện, </p>
                                        <a href="#" title="">Đọc Thêm <i class="la la-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="my-blog">
                                    <div class="blog-thumb">
                                        <a href="#" title=""><img src="../images/resource/b3.jpg" alt="" /></a>
                                        <div class="blog-metas">
                                            <a href="#" title="">29 Tháng 3, 2017</a>
                                            <a href="#" title="">0 Bình Luận</a>
                                        </div>
                                    </div>
                                    <div class="blog-details">
                                        <h3><a href="#" title="">Một Biên Tập Viên Báo Quá Tải</a></h3>
                                        <p>Một công việc là một hoạt động thường xuyên được thực hiện để trở thành nhân viên, tình nguyện, </p>
                                        <a href="#" title="">Đọc Thêm <i class="la la-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading">
                        <h2>Các Công Ty Chúng Tôi Đã Giúp</h2>
                        <span>Một số công ty chúng tôi đã giúp tuyển dụng những ứng viên xuất sắc trong nhiều năm qua.</span>
                    </div><!-- Tiêu Đề -->
                    <div class="comp-sec">
                        <div class="company-img">
                            <a href="#" title=""><img src="../images/resource/cc1.jpg" alt="" /></a>
                        </div><!-- Khách Hàng -->
                        <div class="company-img">
                            <a href="#" title=""><img src="../images/resource/cc2.jpg" alt="" /></a>
                        </div><!-- Khách Hàng -->
                        <div class="company-img">
                            <a href="#" title=""><img src="../images/resource/cc3.jpg" alt="" /></a>
                        </div><!-- Khách Hàng -->
                        <div class="company-img">
                            <a href="#" title=""><img src="../images/resource/cc4.jpg" alt="" /></a>
                        </div><!-- Khách Hàng -->
                        <div class="company-img">
                            <a href="#" title=""><img src="../images/resource/cc5.jpg" alt="" /></a>
                        </div><!-- Khách Hàng -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
